.content {
    background-color: rgb(230, 214, 255);
}
.info {
    width: 100%;
    padding-top: 0.5rem;
    height: fit-content;
    display: flex;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.personal_img {
    width: 25%;
    height: auto;
}
.personal_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    border-radius: 50%;
    padding: 5%;
}
.my_info {
    width: 75%;
}
.name_pos {
    color: white;
}
.row-dt {
    width: 100%;
    display: flex;
}
.col-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.dt {
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    margin-bottom: 0 !important;
}
