.check-bar {
    width: 100%;
}
.output {
    width: 85%;
    resize: none;
    border-radius: 10px;
    background-color: #fff9c6;
    outline: none;
    color: #1e0142;
    padding: 15px;
    font-size: 0.55vw;
    text-align: center;
}
.style {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
}
button {
    background-color: #d66c84;
    color: white;
}
